name: Build and Push Docker Image

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Azure Login using individual secrets (NO JSON!)
      - name: Azure Login
        uses: azure/login@v2
        with:
            auth-type: SERVICE_PRINCIPAL
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            creds: |
             {
               "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}"
             }

      # Login to ACR
      - name: Login to ACR
        run: az acr login --name ${{ secrets.ACR_NAME }}

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/myapp:latest .

      # Push Docker image to ACR
      - name: Push Docker image
        run: |
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/myapp:latest
